EApp.Data/Configuration/EAppDataConfigurationSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:EApp.Data.Configuration" elementFormDefault="qualified" targetNamespace="urn:EApp.Data.Configuration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="EAppData" type="tns:EApp.Data.Configuration.EAppDataConfigurationSectionCT" />
	<xs:complexType name="EApp.Data.Configuration.EAppDataConfigurationSectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="entityMappings" type="tns:EApp.Data.Configuration.EntityMappingConfigurationCollectionCT">
				<xs:annotation>
					<xs:documentation>The EntityMappings.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EApp.Data.Configuration.EntityMappingConfigurationCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="add" type="tns:EApp.Data.Configuration.EntityMappingElementCT">
				<xs:annotation>
					<xs:documentation>The EntityMappingElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EApp.Data.Configuration.EntityMappingElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="file" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The File.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
