EApp.Core/Configuration/EAppConfiguration.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:EApp.Core.Configuration" elementFormDefault="qualified" targetNamespace="urn:EApp.Core.Configuration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="EApp" type="tns:EApp.Core.Configuration.EAppConfigurationSectionCT" />
	<xs:complexType name="EApp.Core.Configuration.EAppConfigurationSectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="objectContainer" type="tns:EApp.Core.Configuration.CurrentObjectContainerElementCT">
				<xs:annotation>
					<xs:documentation>The ObjectContainer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="logger" type="tns:EApp.Core.Configuration.CurrentLoggerElementCT">
				<xs:annotation>
					<xs:documentation>The Logger.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="application" type="tns:EApp.Core.Configuration.CurrentApplicationElementCT">
				<xs:annotation>
					<xs:documentation>The Application.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="pluginContainer" type="tns:EApp.Core.Configuration.PluginContainerElementCT">
				<xs:annotation>
					<xs:documentation>The PluginContainer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="miscSettings" type="tns:EApp.Core.Configuration.MiscSettingElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The MiscSettings.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="resources" type="tns:EApp.Core.Configuration.ResourceElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The ResourceManagers.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="windowsMvc" type="tns:EApp.Core.Configuration.WindowsMvcElementCT">
				<xs:annotation>
					<xs:documentation>The WindowsMvc.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="serializationFormats" type="tns:EApp.Core.Configuration.SerializationFormatElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The SerializationFormats.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EApp.Core.Configuration.CurrentObjectContainerElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="provider" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Provider.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="initFromConfigFile" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The InitFromConfigFile.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="sectionName" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The SectionName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="EApp.Core.Configuration.CurrentLoggerElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="provider" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Provider.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="EApp.Core.Configuration.CurrentApplicationElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="provider" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Provider.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="EApp.Core.Configuration.PluginRegisterElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="register" type="tns:EApp.Core.Configuration.PluginRegisterElementCT">
				<xs:annotation>
					<xs:documentation>The PluginRegisterElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EApp.Core.Configuration.PluginRegisterElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="type" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Type.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="EApp.Core.Configuration.PluginContainerElementCT">
		<xs:sequence>
			<xs:element minOccurs="1" name="host" type="tns:EApp.Core.Configuration.PluginHostElementCT">
				<xs:annotation>
					<xs:documentation>The Host.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="pluginRegisters" type="tns:EApp.Core.Configuration.PluginRegisterElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The PluginRegisters.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EApp.Core.Configuration.SingleProviderElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="provider" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Provider.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="EApp.Core.Configuration.PluginHostElementCT">
		<xs:sequence>
			<xs:element minOccurs="1" name="pluginProvider" type="tns:EApp.Core.Configuration.SingleProviderElementCT">
				<xs:annotation>
					<xs:documentation>The PluginProvider.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" name="serviceProvider" type="tns:EApp.Core.Configuration.SingleProviderElementCT">
				<xs:annotation>
					<xs:documentation>The ServiceProvider.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="provider" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Provider.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="EApp.Core.Configuration.ConstructorElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="paramElement" type="tns:EApp.Core.Configuration.ParamElementCT">
				<xs:annotation>
					<xs:documentation>The ParamElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EApp.Core.Configuration.ParamElementCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="value" type="tns:EApp.Core.Configuration.SingleValueElementCT">
				<xs:annotation>
					<xs:documentation>The Value.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="dependency" type="tns:EApp.Core.Configuration.DependencyElementCT">
				<xs:annotation>
					<xs:documentation>The Dependency.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="type" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Type.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="EApp.Core.Configuration.SingleValueElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="value" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="EApp.Core.Configuration.DependencyElementCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="constructors" type="tns:EApp.Core.Configuration.ConstructorElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The Constructors.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="type" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Type.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="EApp.Core.Configuration.ProviderElementCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="constructors" type="tns:EApp.Core.Configuration.ConstructorElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The Constructors.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="provider" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Provider.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="EApp.Core.Configuration.MiscSettingElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="add" type="tns:EApp.Core.Configuration.MiscSettingAddElementCT">
				<xs:annotation>
					<xs:documentation>The MiscSettingAddElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EApp.Core.Configuration.MiscSettingAddElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="key" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The key.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="value" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="EApp.Core.Configuration.ResourceElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="resource" type="tns:EApp.Core.Configuration.NameTypeElementCT">
				<xs:annotation>
					<xs:documentation>The NameTypeElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EApp.Core.Configuration.NameTypeElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="type" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Type.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="EApp.Core.Configuration.ControllerElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="controller" type="tns:EApp.Core.Configuration.NameTypeElementCT">
				<xs:annotation>
					<xs:documentation>The NameTypeElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EApp.Core.Configuration.WindowsMvcElementCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="controllers" type="tns:EApp.Core.Configuration.ControllerElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The Controllers.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="defaultControllerFactory" type="tns:EApp.Core.Configuration.SingleProviderElementCT">
				<xs:annotation>
					<xs:documentation>The DefaultControllerFactory.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EApp.Core.Configuration.SerializationFormatElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="format" type="tns:EApp.Core.Configuration.NameTypeElementCT">
				<xs:annotation>
					<xs:documentation>The NameTypeElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="default" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Default.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
