EApp.Common/Configuration/EAppConfiguration.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:EApp.Common.Configuration" elementFormDefault="qualified" targetNamespace="urn:EApp.Common.Configuration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="EApp" type="tns:EApp.Common.Configuration.EAppConfigurationSectionCT" />
	<xs:complexType name="EApp.Common.Configuration.EAppConfigurationSectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="objectContainer" type="tns:EApp.Common.Configuration.CurrentObjectContainerElementCT">
				<xs:annotation>
					<xs:documentation>The ObjectContainer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="logger" type="tns:EApp.Common.Configuration.CurrentLoggerElementCT">
				<xs:annotation>
					<xs:documentation>The Logger.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="application" type="tns:EApp.Common.Configuration.CurrentApplicationElementCT">
				<xs:annotation>
					<xs:documentation>The Application.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="appPlugins" type="tns:EApp.Common.Configuration.AppPluginElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The AppPlugins.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EApp.Common.Configuration.CurrentObjectContainerElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="provider" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Provider.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="initFromConfigFile" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The InitFromConfigFile.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="sectionName" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The SectionName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="EApp.Common.Configuration.CurrentLoggerElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="provider" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Provider.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="EApp.Common.Configuration.CurrentApplicationElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="provider" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Provider.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="EApp.Common.Configuration.AppPluginElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="appPlugin" type="tns:EApp.Common.Configuration.AppPluginElementCT">
				<xs:annotation>
					<xs:documentation>The AppPluginElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EApp.Common.Configuration.AppPluginElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="type" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Type.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
